<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>View Your Profile - Pic5</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="/css/grayscale.css" rel="stylesheet" />
    <link href="/css/profilePic.css" rel="stylesheet" />
    <link href="/css/imageLayout.css" rel="stylesheet" />
    <link href="/css/linkStyle.css" rel="stylesheet" />

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" style="color:black" href="#page-top">Pic5</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!-- Search Bar -->
          <!-- Must go to the profile_page "post" which will then redirect to search_page -->
          <form class="Search" action="/profile_page/<%=id%>" method="POST">
            <input type="text" name="search" id="search" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:black" href="/news_feed/<%=id%>"
                >Feed</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:black" href="/profile_page/<%=id%>"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:black" href="/post_photo_page/<%=id%>"
                >Post Photo</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Projects Section -->
    <section id="posts" class="news_feed-section bg-snow">
      <div class="container">
        <!-- todo : populate posts with data from back end, add some sort of recycler viewer-->
        <div class="row">
          <div class="centerFocused">
            <!-- todo : loaded image goes here-->
              <br/><img src="/uploads/<%=profilePicture%>" alt="profile pic" style="margin-top:4px" class="miniProfilePic"/> <b><%=imgData[0].ownerUsername%></b>
              <br/><img src="/uploads/<%=imgData[0].img.imgName%>" alt="not displaying" height="500" width ="500">
              <%var heartColor = imgData[0].likes.includes(id) ? 'red' : 'gainsboro'%>
              <br/><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="margin-top:4px" onclick="likePhoto('<%=id%>','<%=imgData[0].img.imgName%>','<%=imgData[0].ownerID%>')">
                <path id="heart_id_<%=imgData[0].img.imgName%>" fill="<%=heartColor%>" d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/>
                  </svg>
              <a id="<%=imgData[0].img.imgName%>_likes" method="GET" href="/..."><%=imgData[0].likes.length%></a> likes
              <% if (imgData[0].caption[0] != ""){%>
                  <br/><img src="/uploads/<%=profilePicture%>" alt="profile pic" style="margin-top:4px" class="miniminiProfilePic"/> <b><%=imgData[0].ownerUsername%></b> <%=imgData[0].caption[0]%>
                <%}%>


                <!-- When user presses the show all button, display all comments -->
              <div id="<%=imgData[0].img.imgName%>_showAll">
                Comments: <button class="link" id="showall_<%=imgData[0].img.imgName%>_id" onclick="showComments('<%=imgData[0].img.imgName%>','<%=imgData[0].comments.length%>')">Show all (<%=imgData[0].comments.length%>)</button>
              </div>

              <!-- Hide Comments -->
              <div id="<%=imgData[0].img.imgName%>_hideAll" style="display:none">
                <div id="<%=imgData[0].img.imgName%>_comments">
                  <!-- Data comes from show_hide_comments.js -->
                </div>
                <br/><button class="link" onclick="hideComments('<%=imgData[0].img.imgName%>')">Hide all</button>
              </div>

              <form style="margin-top:10px">
                <input type="text" id="theComment_<%=imgData[0].img.imgName%>" name="theComment" placeholder="Leave a comment">
                <input type="button" value="Submit" onclick="addComment('<%=id%>','<%=username%>','<%=imgData[0].ownerID%>','<%=imgData[0].img.imgName%>')">
              </form>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-2">
                <h3 class="text-white"></h3>
              </div>
              <div class="col-2">
                <h3 class="text-white"></h3>
                <!-- todo : likes number goes here -->
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h3 class="text-white"></h3>
                <!-- todo: load caption here-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Pic5 Inc.
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/grayscale.min.js"></script>
    <script src="/js/leaveComment.js"></script>
    <script src="/js/likePhoto.js"></script>
    <script src="/js/show_hide_comments.js"></script>

  </body>
</html>
