<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title><%=username%>- Pic5</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/css/grayscale.css" rel="stylesheet" />
    <link href="/css/profilePic.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/news_feed/<%=id%>">Pic5</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!-- Search Bar -->
          <!-- Must go to the profile_page "post" which will then redirect to search_page -->
          <form class="Search" action="/profile_page/<%=id%>" method="POST">
            <input type="text" name="search" id="search" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/news_feed/<%=id%>"
                >Feed</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/profile_page/<%=id%>"
                >My Profile</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->

    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">

          <img src="/uploads/<%=profilePicture%>" alt="profile pic" id="profilePic" class="profilePic">
          <h2 class="mx-auto my-0 text-uppercase"><%=username%></h2>
          <div class="row">
            <!-- todo : populate table with data from backend-->
            <div class="col">
              <h3 class="text-white-50 mx-auto mt-2 mb-5">Posts <br/><%=imgData.length%></h3>
            </div>
            <div class="col">
              <h3 id="followers_id" class="text-white-50 mx-auto mt-2 mb-5">Followers <%=followers%></h3>
            </div>
            <div class="col">
              <h3 id="following_id" class="text-white-50 mx-auto mt-2 mb-5">Following <%=following%></h3>
            </div>
          </div>
          <!-- <button onclick="updateFollowButton('<%=sFollow%>')" type="button" class="btn btn-primary js-scroll-trigger"
            id="sFollow"><%=sFollow%></button> -->
          <button id="sFollow" type="button" onclick="updateFollowButton('<%=id%>','<%=searchID%>')"
                class="btn btn-primary js-scroll-trigger"><%=sFollow%></button>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">About me:</h2>
            <p class="text-white-50"><%=bio%></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="posts" class="projects-section bg-dark">
      <div class="container">
        <!-- todo : populate posts with data from back end, add some sort of recycler viewer-->
        <% for (var C = imgData.length-1;C >= 0;C--){%>
          <br/> <b><%=imgData[C].ownerUsername%></b>
          <br/><img src="/uploads/<%=imgData[C].img.imgName%>" alt="not displaying" height="350" width ="350">
          <%var heartColor = imgData[C].likes.includes(id) ? 'red' : 'white'%>
          <br/><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" onclick="likePhoto('<%=id%>','<%=imgData[C].img.imgName%>','<%=imgData[C].ownerID%>')">
            <path id="heart_id_<%=imgData[C].img.imgName%>" fill="<%=heartColor%>" d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/>
          </svg>
          <br><a id="<%=imgData[C].img.imgName%>_likes" method="GET" href="/..."><%=imgData[C].likes.length%></a> likes
          <br/> <b><%=imgData[C].ownerUsername%></b> <%=imgData[C].caption[0]%>
          <br/> Comments: <a method="GET" href="/focused_myimage/<%=id%>/<%=imgData[C].img.imgName%>">Show all (<%=imgData[C].comments.length%>)</a>
          <br/> <label>Leave a comment</label>
                <form action="/news_feed_Comment/<%=id%>/<%=username%>/<%=imgData[C].ownerID%>/<%=imgData[C].img.imgName%>" method="POST">
                  <input type="text" id="theComment" name="theComment">
                  <input type="submit" value="Submit">
                </form>
        <%}%>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Pic5 Inc.
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/grayscale.min.js"></script>

    <script>
      function updateFollowButton(id,searchId)
      {
        var FollowUnfollow = "";
        fetch(`/follow_page/${id}/${searchId}`,{ method:"POST", 'Content-Type': 'application/json' })
        .then(res => res.json())
        .then(function(data){
          debugger;
          document.getElementById("followers_id").innerHTML = "Followers\n" + data.sNbFollowers;

          if(data.bIsFollowing)
          {
            FollowUnfollow = "Unfollow";
          }
          else {
            FollowUnfollow = "Follow";
          }
          document.getElementById("sFollow").innerHTML = FollowUnfollow;
        })
        .catch((err) => {
          alert("Follow Error");
        })
      }

      function likePhoto(id,imgName,ownerId) {

        fetch(`/like_photo/${id}/${imgName}/${ownerId}`,{method:'POST','Content-Type': 'application/json'})
          .then(res => res.json())
          .then(function(data){

            if(data.bLiked)
            {
              document.getElementById("heart_id_"+imgName).style.fill = "red";
            }
            else {
              document.getElementById("heart_id_"+imgName).style.fill = "white";
            }

            document.getElementById(imgName+'_likes').innerHTML = data.likes;
          })
          .catch((err) => {
            alert("Error");
          })
      }
    </script>

  </body>
</html>
