<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>View Your Profile - Pic5</title>
    <link rel="icon" href="/img/logo_black.png" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="/css/grayscale.css" rel="stylesheet" />
    <link href="/css/profilePic.css" rel="stylesheet" />
    <link href="/css/linkStyle.css" rel="stylesheet" />

    <style>

      .linkStyle{
        color: <%=textColor%>;
      }

       .linkStyle:hover{
         color: #C0C0C0;
       }

      .mastheadOverride {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 10rem;
        padding: 10rem 0 5rem 0;
        background: linear-gradient(
            to bottom,
            rgba(22, 22, 22, 0.3) 0%,
            rgba(22, 22, 22, 0.7) 75%,
            #161616 100%
          ),
          url("../img/bg-masthead.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
      }

      .mastheadOverride h1 {
        font-family: "Varela Round";
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.8rem;
        background: -webkit-linear-gradient(
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0)
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }

      .mastheadOverride h2 {
        font-family: "Varela Round";
        font-size: 3rem;
        line-height: 3.4rem;
        letter-spacing: 0.8rem;
        background: linear-gradient(<%=textColor%>, #C0C0C0);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }

      .mastheadOverride h3 {
        max-width: 20rem;
        font-size: 1.4rem;
      }

    </style>

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" style="color:<%=textColor%>" href="/news_feed/<%=id%>">Pic5</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!-- Search Bar -->
          <!-- Must go to the profile_page "post" which will then redirect to search_page -->
          <form class="Search" action="/profile_page/<%=id%>" method="POST">
            <input type="text" name="search" id="search" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:<%=textColor%>" href="/news_feed/<%=id%>"
                >Feed</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:<%=textColor%>" href="/profile_page/<%=id%>"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:<%=textColor%>" href="/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->

    <header class="mastheadOverride" style="background-image: url('/uploads/<%=backgroundImg%>');">
    <!-- <header class="masthead"> -->
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <a href="/post_profile_pic/<%=id%>">
            <img src="/uploads/<%=profilePicture%>" alt="profile pic" id="profilePic" class="profilePic"/>
          </a>
          <h2 class="mx-auto my-0"><%=username%></h2>
          <div class="row">
            <!-- todo : populate table with data from backend-->
            <div class="col">
              <h3 class="text-black-50 mx-auto mt-2 mb-5"><a style="color:<%=textColor%>">Posts </a><a style="color:<%=textColor%>"/><br/><%=imgData.length%></h3>
            </div>
            <div class="col">
              <h3 class="text-black-50 mx-auto mt-2 mb-5"><a class="linkStyle" method="GET" href="/myfollowers_list/<%=id%>">Followers </a><a style="color:<%=textColor%>"/><br/><%=followers%></h3>
            </div>
            <div class="col">
              <h3 class="text-black-50 mx-auto mt-2 mb-5"><a class="linkStyle" method="GET" href="/myfollowing_list/<%=id%>">Following </a><a style="color:<%=textColor%>"/><br/><%=following%></h3>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->


    <!-- Projects Section -->
    <section id="posts" class="projects-section bg-dark">
      <div class="container">
        <!-- todo : populate posts with data from back end, add some sort of recycler viewer-->
            <!-- todo : loaded image goes here-->
              <h1> My Following </h1>
              <% for (var C = 0; C<totalFollowing.length;C++){%>
                <% for (var c=0;c<UsersInfo.length;c++){ %>
                  <% if (UsersInfo[c]._id==totalFollowing[C]){ %>
                  <p><img width="100px" height="100px" style="border-radius: 50%;"
                    src="/uploads/<%=UsersInfo[c].profilePic%>" alt="profile pic" id="searchProfilePic"
                    onclick="verifyID('<%=id%>','<%=UsersInfo[c]._id%>')"/>
                  <button class="link" onclick="verifyID('<%=id%>','<%=UsersInfo[c]._id%>')"><%=UsersInfo[c].username%></button></p>
                  <%}%>
                  <%}%>
                <%}%>


          <div class="col-8">
            <div class="row">
              <div class="col-2">
                <h3 class="text-white"></h3>
              </div>
              <div class="col-2">
                <h3 class="text-white"></h3>
                <!-- todo : likes number goes here -->
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h3 class="text-white"></h3>
                <!-- todo: load caption here-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Pic5 Inc.
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src = "/vendor/jquery/jquery.min.js"></script>
    <script src = "/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src = "/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src = "/js/grayscale.min.js"></script>
    <script src = "/js/leaveComment.js"></script>
    <script src = "/js/likePhoto.js"></script>
    <script src = "/js/show_hide_comments.js"></script>
    <script src = "/js/verifyUser.js"></script>
    <script src = "/js/clickable_icon.js"></script>


  </body>
</html>
