<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Change your Profile Picture - Pic5</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/css/grayscale.css" rel="stylesheet" />

    <style>

      .mastheadOverride {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 10rem;
        padding: 10rem 0 5rem 0;
        background: linear-gradient(
            to bottom,
            rgba(22, 22, 22, 0.3) 0%,
            rgba(22, 22, 22, 0.7) 75%,
            #161616 100%
          ),
          url("../img/bg-masthead.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
      }

      .mastheadOverride h1 {
        font-family: "Varela Round";
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.8rem;
        background: -webkit-linear-gradient(
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0)
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }

      .mastheadOverride h2 {
        font-family: "Varela Round";
        font-size: 3rem;
        line-height: 3.4rem;
        letter-spacing: 0.8rem;
        background: linear-gradient(<%=textColor%>, #C0C0C0);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }

      .mastheadOverride h3 {
        max-width: 20rem;
        font-size: 1.4rem;
      }

    </style>


  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" style="color:<%=textColor%>" href="/news_feed/<%=id%>">Pic5</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:<%=textColor%>" href="/news_feed/<%=id%>"
                >Feed</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:<%=textColor%>" href="/profile_page/<%=id%>"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:<%=textColor%>" href="/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->

    <header class="mastheadOverride" style="background-image: url('/uploads/<%=backgroundImg%>');">
    <!-- <header class="masthead"> -->
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <form action="/upload_profile/<%=id%>/<%=profilePic%>" method="POST" enctype="multipart/form-data">
                <h2 class="mx-auto my-0 text-uppercase">
                    Upload a New Profile Picture:
                </h2><br>
                <input
                    type="file"
                    id="file"
                    name="file"
                    accept="image/png, image/jpeg"
                /><Br>
                  <Br>
                <input type = "submit"></input><br>     <a method ="GET" href="/profile_page/<%=id%>" class="btn btn-primary js-scroll-trigger" id= "cancelEditBtn">Cancel Edit</a>

            </form>
        </div>
      </div>
    </header>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Pic5 Inc.
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src = "/vendor/jquery/jquery.min.js"></script>
    <script src = "/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src = "/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src = "/js/grayscale.min.js"></script>

  </body>
</html>
