<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>View Your Profile - Pic5</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="/css/grayscale.css" rel="stylesheet" />
    <link href="/css/profilePic.css" rel="stylesheet" />
    <link href="/css/linkStyle.css" rel="stylesheet" />
    <link href="/css/dropdownButton.css" rel="stylesheet" />
    <link href="/css/customGrid.css" rel="stylesheet" />


  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/news_feed/<%=id%>">Pic5</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!-- Search Bar -->
          <!-- Must go to the profile_page "post" which will then redirect to search_page -->
          <form class="Search" action="/profile_page/<%=id%>" method="POST">
            <input type="text" name="search" id="search" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/news_feed/<%=id%>"
                >Feed</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/post_photo_page/<%=id%>"
                >Post Photo</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->

    <header class="masthead" style="background-image: url('/uploads/<%=backgroundImg%>');">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <a href="/post_profile_pic/<%=id%>">
            <img src="/uploads/<%=profilePicture%>" alt="profile pic" id="profilePic" class="profilePic"/>
          </a>
          <h2 class="mx-auto my-0 text-uppercase"><%=username%></h2>
          <div class="row">
            <!-- todo : populate table with data from backend-->
            <div class="col">
              <h3 class="text-white-50 mx-auto mt-2 mb-5">Posts <br/><%=imgData.length%></h3>
            </div>
            <div class="col">
              <h3 class="text-white-50 mx-auto mt-2 mb-5"><a method="GET" href="/myFollowers_List/<%=id%>">Followers </a><br/><%=followers%></h3>
            </div>
            <div class="col">
              <h3 class="text-white-50 mx-auto mt-2 mb-5"><a method="GET" href="/myFollowing_List/<%=id%>">Following </a><br/><%=following%></h3>
            </div>
          </div>
          <button id="editProfileButton_id" method ="GET" onclick="editProfile()" class="btn btn-primary js-scroll-trigger">Edit Profile</button>
                  &nbsp; &nbsp; &nbsp;           <a href="/edit_background/<%=id%>"<button method ="GET" class="btn btn-primary js-scroll-trigger">Edit Background</button></a>

          <div id="editProfile_id" style="display: none">
                <button id="btCancelEdit_id" onclick="cancelEdit()" class="btn btn-primary js-scroll-trigger">Cancel</button>
                <br/><br/>
                <form>
                      <textarea id="bio" name="bio" placeholder="Tell us about yourself..."><%=bio%></textarea><br/>
                      <input type="button" onclick="updateProfile('<%=id%>')" value="Submit">
                </form>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">About me:</h2>
            <p id="bio_id" class="text-white-50"><%=bio%></p>
          </div>
        </div>
      </div>
    </section>
    <section style="background-color:<%=backgroundColor%>">
    <!-- Projects Section -->
    <div class="container">
      <div id="profileContent">
        <% for (var C = imgData.length-1;C >= 0;C--){%>
          <div class="thumbnail">

            <!-- Section above each photo {ProfileImg username     dots_button} -->
            <div style="width:80%;Text-align:left;float:left;">
              <br/><img src="/uploads/<%=profilePicture%>" alt="profile pic" id="miniProfilePic" class="miniProfilePic"/>
              <b><%=imgData[C].ownerUsername%></b>
              <div style="Text-align:right;Width:20%;float:right">
                <img onclick="displayDropdown('<%=imgData[C].img.imgName%>')" src="/uploads/vertical_dots.png" alt="dots" id="dots_<%=imgData[C].img.imgName%>" class="dots"/>
                <div id="myDropdown_<%=imgData[C].img.imgName%>" class="dropdown-content">
                  <button onclick="deletePhoto('<%=id%>','<%=imgData[C].img.imgName%>')" class="dropdownButton">Delete</button>
                </div>
              </div>
            </div>

                <a href="/focused_myimage/<%=id%>/<%=imgData[C].img.imgName%>" >
                  <img src="/uploads/<%=imgData[C].img.imgName%>" alt="not displaying" height="275" width ="275">
                </a>
                <%var heartColor = imgData[C].likes.includes(id) ? 'red' : 'gainsboro'%>
                <br/><svg xmlns="http://www.w3.org/2000/svg" style="margin:auto" width="24" height="24" viewBox="0 0 24 24" onclick="likePhoto('<%=id%>','<%=imgData[C].img.imgName%>','<%=imgData[C].ownerID%>')">
                  <path id="heart_id_<%=imgData[C].img.imgName%>" fill="<%=heartColor%>" d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/>
                </svg>
                <a id="<%=imgData[C].img.imgName%>_likes" style="margin-left:4px" method="GET" href="/..."><%=imgData[C].likes.length%></a> likes
                <!-- Display Caption if it exists -->
                <% if (imgData[C].caption[0] != ""){%>
                    <br/><img src="/uploads/<%=profilePicture%>" style="margin-top:4px" alt="profile pic" class="miniminiProfilePic"/> <b><%=imgData[C].ownerUsername%></b> <%=imgData[C].caption[0]%>
                  <%}%>
                  <!-- When user presses the show all button, display all comments -->
                <div id="<%=imgData[C].img.imgName%>_showAll">
                  Comments: <button class="link" id="showall_<%=imgData[C].img.imgName%>_id" onclick="showComments('<%=imgData[C].img.imgName%>','<%=imgData[C].comments.length%>')">Show all (<%=imgData[C].comments.length%>)</button>
                </div>

                <!-- Hide Comments -->
                <div id="<%=imgData[C].img.imgName%>_hideAll" style="display:none">
                  <div id="<%=imgData[C].img.imgName%>_comments">
                    <!-- Data comes from show_hide_comments.js -->
                  </div>
                  <br/><button class="link" onclick="hideComments('<%=imgData[C].img.imgName%>')">Hide all</button>
                </div>

                <form>
                  <input type="text" id="theComment_<%=imgData[C].img.imgName%>" name="theComment" placeholder="Leave a comment">
                  <input style="margin-top:3px" type="button" value="Submit" onclick="addComment('<%=id%>','<%=username%>','<%=imgData[C].ownerID%>','<%=imgData[C].img.imgName%>')">
                </form>
              </div>
          <%}%>
      </div>
    </div>
</section>
          <div class="col-8">
            <div class="row">
              <div class="col-2">
                <h3 class="text-white"></h3>
              </div>
              <div class="col-2">
                <h3 class="text-white"></h3>
                <!-- todo : likes number goes here -->
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h3 class="text-white"></h3>
                <!-- todo: load caption here-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Pic5 Inc.
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/grayscale.min.js"></script>
    <script src="/js/leaveComment.js"></script>
    <script src="/js/likePhoto.js"></script>
    <script src="/js/show_hide_comments.js"></script>


    <script>

      function displayDropdown(imgName)
      {
        document.getElementById("myDropdown_"+imgName).classList.toggle("show");
      }
      //If user clicks outside the menu, the menu will close
      window.onclick = function(event) {
        if (!event.target.matches('.dots')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }

      function deletePhoto(id,imgName)
      {
        if(confirm("Are you sure you want to delete this photo?"))
        {
          fetch(`/delete_photo/${imgName}`,{method:'POST', "Content-Type": "application/json"})
            .then(res => res.json())
            .then(function(data){
              debugger;

              if(data.bDeleted)
              {
                alert("Your Photo has been deleted.");
                window.location.href = "/profile_page/" + id;
              }
              else {
                return;
              }
            })
            .catch((err) => {
              alert("Delete Photo Error");
            })
        }
        else {
          return;
        }
      }

      function updateProfile(id)
      {
        var bio = document.getElementById("bio").value;
        fetch(`/edit_profile/${id}`,{method:'POST',
        headers: {
                "Content-Type": "application/json"
            },
          body:JSON.stringify({"bio":bio})})
          .then(res => res.json())
          .then(function(data){
            debugger;
            document.getElementById("bio_id").innerHTML = data.sBio;
            $("#editProfileButton_id").show();
            $("#editProfile_id").hide();
          })
          .catch((err) => {
            alert("Edit Profile Error");
          })
      }
      function editProfile()
      {
        debugger;
        $("#editProfileButton_id").hide();
        $("#editProfile_id").show();
      }
      function cancelEdit(){
        $("#editProfileButton_id").show();
        $("#editProfile_id").hide();
      }
    </script>

  </body>
</html>
